/* header nav
{
   background-color: teal;
}

header h1
{
   margin-left: 100px;
   float: left;
   background-color:blue;
}

header nav ul li
{
   display: inline-flex;
   width: 200px;
} */

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Roboto&display=swap');

body
{
   background-color: pink;
}

header
{
   width: 100%;
   height: 3em;
   margin: 0 auto;
   display: block;
}

#name-ava
{
   /* display: flex; */
   float: left;
   height: 100%;
   /* width: 50%; */
   display: inline;
   vertical-align: middle;
}

#name-ava img
{
   max-width: 100%;
   height: 100%;
   border-radius: 50%;
   vertical-align: middle;
}

#name-ava h1, h2
{
   font-family: Fredoka, Arial, Helvetica, sans-serif;
   display: inline-block;
}

header nav
{
   width: 50%;
}

header nav ul
{
   display: flex;
   min-width: fit-content;
}

header nav ul li
{
   list-style: none;
   min-width: fit-content;
   padding: 5%;
}

header nav ul li a
{
   font-family: Fredoka, Arial, Helvetica, sans-serif;
   text-decoration: none;
}

#main-content, header
{
   max-width: 900px;
   margin: 0 auto;
}

#main-content p
{
   font-family: Roboto, Arial, Helvetica, sans-serif;
   size: 1em;
   text-align: justify;
}

#my-work
{
}

#portfolio-items
{
   display: flex;
   flex-wrap: wrap;
   width: 100%;
}

@media screen and(max-width: 600px) {
   body {
      color: blue;
   }
}

.portfolio-item
{
   border: 2px solid gray;
   border-radius: 5px;
   margin: 5px;
   width: auto;
   height: 10em;
   flex-basis: auto;

}

.portfolio-item:first, #major-item
{
   display: inline-block;
   width: 0px;
}

.portfolio-item:hover
{
   border: 2px solid skyblue;
}